html,body {
	margin:0;
	padding:0;
	min-width:1280px;
}

header {
	width:1280px;
	height:57px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

.logo {
	margin:13px;
	margin-left:59px;
	height:31px;
	width:128px;
	float:left;
	overflow:hidden;
}

.logo img {
	width:31px;
	height:31px;
	margin-right:11px;
	display:block;
	float:left;
}

.logo p {
	margin:0;
	line-height:31px;
	font-size:21px;
	font-family:"黑体";
	float:left;
}

header ul {
	list-style:none;
	list-style-type:none;
	float:left;
	margin-left:500px;
	padding:0;
	overflow:hidden;
}

header li {
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	color:#787b83;
	margin-right:46px;
}

header li:first-child {
	color:#e74f4d;
}

.logIn {
	float:left;
	margin:16px;
	margin-left:-14px;
	overflow:hidden;
}

.logIn img {
	float:left;
	width:14px;
	height:17px;
	display:block;
}

.logIn p {
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	color:#e74f4d;
	margin:0;
	margin-left:6px;
	line-height:17px;
}

.line {
	position:absolute;
	width:64px;
	height:5px;
	background-color:#e74f4d;
	bottom:0;
	left:681px;
}

.sec-1 {
	width:100%;
	height:690px;
	background-image:url(../img/top-big.png);
	background-position:center right;
	background-repeat:no-repeat;
	background-size:cover;
}

.sec-1-all {
	width:100%;
	height:690px;
	background-color:rgba(0,0,0,0.20);
}

.sec-1-middle {
	width:1280px;
	height:100%;
	margin:0 auto;
}

.sec-1-middle h1 {
	margin:0;
	margin-left:116px;
	padding-top:230px;
	font-family:"微软雅黑";
	font-size:60px;
	color:#fff;
	font-weight:normal;
	line-height:60px;
}

.sec-1-middle p {
	margin:0;
	margin-left:124px;
	margin-top:14px;
	font-family:"微软雅黑";
	font-size:21px;
	color:#fffdfd;
	line-height:32px;
}

.sec-1-m-start {
	width:332px;
	height:64px;
	margin-left:126px;
	margin-top:62px;
	background-color:#e74f4d;
}

.sec-1-m-start p {
	font-family:"微软雅黑";
	font-size:30px;
	color:#fff;
	line-height:60px;
	margin:0 auto;
	text-align:center;
}

.sec-2 {
	width:1280px;
	height:250px;
	margin:0 auto;
	overflow:hidden;
}

.sec-2-block {
	width:25%;
	height:100%;
	float:left;
}

.sec-2-block img {
	margin:45px auto;
	display:block;
}

.sec-2-text {
	width:100%;
	border-left:1px solid #767777;
}

.sec-2-text-1 {
	border:0;
}

.sec-2-text p {
	margin:0 auto;
	white-space:normal;
	width:11em;
	height:50px;
	text-align:center;
	font-family:"黑体";
	font-size:14px;
	color:#767777;
	line-height:18px;
}

.sec-3 {
	width:100%;
	height:360px;
	background-color:#ededec;
}

.sec-3 img {
	margin:50px auto;
	margin-top:0;
	padding-top:90px;
	display:block;
}

.sec-3 p {
	margin:0 auto;
	text-align:center;
	font-family:"黑体";
	font-size:54px;
	color:#a1a1a1;
}

.sec-4 {
	width:100%;
	height:341px;
	background-image:url(../img/sec-4-map.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.sec-4-all {
	width:100%;
	height:100%;
	background-color:rgba(170,52,50,0.20);
}


.sec-4-all p {
	margin:17px auto;
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:12px;
	color:rgba(255,255,255,0.80);
	text-align:center;
}

.sec-4-all p:first-child {
	margin:0 auto;
	padding-top:50px;
	font-size:21px;
	color:#FFF;
}

.sec-4-line {
	margin:8px auto;
	width:30px;
	height:3px;
	background-color:#FFF;
}

.sec-4-option {
	height:36px;
	width:1030px;
	margin:50px auto;
	overflow:hidden;
}

.sec-4-option select {
	width:235px;
	height:100%;
	float:left;
	margin-right:30px;
	padding:0 8px 0 10px;
	box-sizing:border-box;
	border:solid 1px #FFF;
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:12px;
	color:#a8aaaa;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background-image:url(../img/select.png);
	background-position:208px center;
	background-repeat:no-repeat;
	background-size:auto;
}

.sec-4-option select::-ms-expand {
	display: none;
}

.sec-4-option select:focus {
	border:solid 1px #be4e48;
	outline-color:#be4e48;
}

.sec-4-option select option {
	height:34px;
	margin-left:2em;
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:12px;
}

.sec-4-search {
	width:235px;
	height:100%;
	float:left;
	background-color:#be4e48;
}

.sec-4-all .sec-4-search p {
	padding-top:0;
	font-size:14px;
	line-height:36px;
}