html,body {
	margin:0;
	padding:0;
	min-width:1280px;
}

header {
	width:1280px;
	height:57px;
	margin:0 auto;
	overflow:hidden;
	position:relative;
}

.logo {
	margin:13px;
	margin-left:59px;
	height:31px;
	width:128px;
	float:left;
	overflow:hidden;
}

.logo img {
	width:31px;
	height:31px;
	margin-right:11px;
	display:block;
	float:left;
}

.logo p {
	margin:0;
	line-height:31px;
	font-size:21px;
	font-family:"黑体";
	float:left;
}

header ul {
	list-style:none;
	list-style-type:none;
	float:left;
	margin-left:500px;
	padding:0;
	overflow:hidden;
}

header li {
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	color:#787b83;
	margin-right:46px;
}

header li:first-child {
	color:#e74f4d;
}

.logIn {
	float:left;
	margin:16px;
	margin-left:-14px;
	overflow:hidden;
}

.logIn img {
	float:left;
	width:14px;
	height:17px;
	display:block;
}

.logIn p {
	float:left;
	font-family:"微软雅黑";
	font-size:14px;
	color:#e74f4d;
	margin:0;
	margin-left:6px;
	line-height:17px;
}

.line {
	position:absolute;
	width:64px;
	height:5px;
	background-color:#e74f4d;
	bottom:0;
	left:681px;
}

.sec-1 {
	width:100%;
	height:690px;
	background-image:url(../img/top-big.png);
	background-position:center right;
	background-repeat:no-repeat;
	background-size:cover;
}

.sec-1-all {
	width:100%;
	height:690px;
	background-color:rgba(0,0,0,0.20);
}

.sec-1-middle {
	width:1280px;
	height:100%;
	margin:0 auto;
}

.sec-1-middle h1 {
	margin:0;
	margin-left:116px;
	padding-top:230px;
	font-family:"微软雅黑";
	font-size:60px;
	color:#fff;
	font-weight:normal;
	line-height:60px;
}

.sec-1-middle p {
	margin:0;
	margin-left:124px;
	margin-top:14px;
	font-family:"微软雅黑";
	font-size:21px;
	color:#fffdfd;
	line-height:32px;
}

.sec-1-m-start {
	width:332px;
	height:64px;
	margin-left:126px;
	margin-top:62px;
	background-color:#e74f4d;
}

.sec-1-m-start p {
	font-family:"微软雅黑";
	font-size:30px;
	color:#fff;
	line-height:60px;
	margin:0 auto;
	text-align:center;
}

.sec-2 {
	width:1280px;
	height:250px;
	margin:0 auto;
	overflow:hidden;
}

.sec-2-block {
	width:25%;
	height:100%;
	float:left;
}

.sec-2-block img {
	margin:45px auto;
	display:block;
}

.sec-2-text {
	width:100%;
	border-left:1px solid #767777;
}

.sec-2-text-1 {
	border:0;
}

.sec-2-text p {
	margin:0 auto;
	white-space:normal;
	width:11em;
	height:50px;
	text-align:center;
	font-family:"黑体";
	font-size:14px;
	color:#767777;
	line-height:18px;
}

.sec-3 {
	width:100%;
	height:360px;
	background-color:#ededec;
}

.sec-3 img {
	margin:50px auto;
	margin-top:0;
	padding-top:90px;
	display:block;
}

.sec-3 p {
	margin:0 auto;
	text-align:center;
	font-family:"黑体";
	font-size:54px;
	color:#a1a1a1;
}

.sec-4 {
	width:100%;
	height:341px;
	background-image:url(../img/sec-4-map.png);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}

.sec-4-all {
	width:100%;
	height:100%;
	background-color:rgba(170,52,50,0.20);
}


.sec-4-all p {
	margin:17px auto;
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:12px;
	color:rgba(255,255,255,0.80);
	text-align:center;
}

.sec-4-all p:first-child {
	margin:0 auto;
	padding-top:50px;
	font-size:21px;
	color:#FFF;
}

.sec-4-line {
	margin:8px auto;
	width:30px;
	height:3px;
	background-color:#FFF;
}

.sec-4-option {
	height:36px;
	width:1030px;
	margin:50px auto;
	overflow:hidden;
}

.sec-4-option select {
	width:235px;
	height:100%;
	float:left;
	margin-right:30px;
	padding:0 8px 0 10px;
	box-sizing:border-box;
	border:solid 1px #FFF;
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:12px;
	color:#a8aaaa;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	background-image:url(../img/select.png);
	background-position:208px center;
	background-repeat:no-repeat;
	background-size:auto;
}

.sec-4-option select::-ms-expand {
	display: none;
}

.sec-4-option select:focus {
	border:solid 1px #be4e48;
	outline-color:#be4e48;
}

.sec-4-option select option {
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:12px;
	color:#323333;
	background-color:#e3e2e4;
}

.sec-4-search {
	width:235px;
	height:100%;
	float:left;
	background-color:#be4e48;
}

.sec-4-all .sec-4-search p {
	padding-top:0;
	font-size:14px;
	line-height:36px;
}

.sec-5 {
	width:100%;
	height:605px;
	background-color:#f7f7f7;
}

.sec-5-all {
	width:990px;
	margin:0 auto;
	padding-top:100px;
	overflow:hidden;
}

.sec-5-box {
	margin-left:36px;
	float:left;
}

.sec-5-box:first-child {
	margin-left:0;
}

.sec-5-box img {
	display:block;
	padding:12px 8px;
	border:1px solid #cecece;
	background-color:#FFF;
}

.sec-5-box p {
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:16px;
	color:#333;
	text-align:center;
	margin:0 auto;
	line-height:36px;
}

.sec-5-box p:last-child {
	font-size:12px;
	color:#818181;
	line-height:12px;
}

.sec-5-2 {
}

.sec-5-2 p {
	font-size:12px;
	color:#818181;
	line-height:28px;
}

.sec-5-2 p:first-child {
	font-size:24px;
	color:#333;
	line-height:24px;
	text-align:justify;
	text-justify:distribute-all-lines;
	text-align-last:justify;
	-moz-text-align-last:justify;
	-webkit-text-align-last:justify;
	padding:0 16px;
}

.sec-6 {
	width:1280px;
	height:567px;
	margin:0 auto;
	overflow:hidden;
}

.sec-6-left {
	float:left;
	width:851px;
	height:100%;
	background-image:url(../img/sec-6.png);
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.sec-6-left p {
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:22px;
	color:#FFF;
	text-align:center;
	margin:0 auto;
	line-height:48px;
}

.sec-6-left p:first-child {
	font-size:50px;
	line-height:30px;
	padding-top:135px;
}

.sec-6-left p:nth-child(2) {
	font-size:158px;
	line-height:165px;
}

.sec-6-left div {
	width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-right: 25px solid #FFF;
    border-bottom: 14px solid transparent;
	position:absolute;
	right:0;
	top:268px;
}

.sec-6-right {
	float:left;
	width:289px;
	margin:0 70px;
}

.sec-6-right p {
	font-family:"宋体";
	font-size:12px;
	color:#AAA;
	margin:0 auto;
	line-height:30px;
}

.sec-6-right p:first-child {
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:18px;
	color:#000;
	text-align:center;
	margin:0 auto;
	padding-top:150px;
	line-height:60px;
	font-weight:bold;
}

.sec-6-right span {
	color:#be4e48;
}

.sec-6-more {
	width:105px;
	height:33px;
	margin:0 auto;
	margin-top:40px;
	border:1px solid #e25c60;
}

.sec-6-more p:first-child {
	font-family: "微软雅黑", "Microsoft YaHei";
	font-size:12px;
	color:#e25c60;
	text-align:center;
	margin:0 auto;
	padding-top:0;
	line-height:30px;
	font-weight:normal;
}

.sec-6-point {
	overflow:hidden;
	width:72px;
	margin:0 auto;
	margin-top:25px;
}

.sec-6-point div {
	box-sizing:border-box;
	width:12px;
	height:12px;
	border-radius:6px;
	border:1px solid #929293;
	float:left;
	margin:0 6px;
}

.sec-6-point div:first-child {
	background-color:#929293;
}

.sec-7 {
	width:1280px;
	height:520px;
	margin:0 auto;
	overflow:hidden;
}

.sec-7-box-1 {
	width:425px;
	height:100%;
	float:left;
	background-color:#e7504d;
}

.sec-7-box-1 p {
	font-family: "黑体";
	font-size:21px;
	color:#FFF;
	text-align:center;
	margin:0 auto;
	padding-top:165px;
	line-height:30px;
}

.sec-7-line-1 {
	width:32px;
	height:2px;
	background-color:#FFF;
	margin:20px auto;
}

.sec-7-more-1 {
	width:169px;
	height:44px;
	border:1px solid #FFF;
	margin:26px auto;
}

.sec-7-box-1 .sec-7-more-1 p {
	font-family: "黑体";
	font-size:21px;
	color:#FFF;
	text-align:center;
	margin:0 auto;
	padding-top:0;
	line-height:44px;
}

.sec-7-box-2 {
	width:426px;
	height:100%;
	float:left;
}

.sec-7-box-2 p {
	font-family: "黑体";
	font-size:21px;
	text-align:center;
	margin:0 auto;
	padding-top:165px;
	line-height:30px;
}

.sec-7-line-2 {
	width:32px;
	height:2px;
	background-color:#ababaa;
	margin:20px auto;
}

.sec-7-more-2 {
	width:169px;
	height:44px;
	border:1px solid #e95a58;
	margin:26px auto;
}

.sec-7-box-2 .sec-7-more-2 p {
	font-family: "黑体";
	font-size:21px;
	color:#e95a58;
	text-align:center;
	margin:0 auto;
	padding-top:0;
	line-height:44px;
}

.sec-7-box-3 {
	width:429px;
	height:100%;
	float:left;
	background-image:url(../img/sec-7.png);
	background-repeat:no-repeat;
	background-size:cover;
	position:relative;
}

.sec-7-box-3 div {
	width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-left: 25px solid #FFF;
    border-bottom: 14px solid transparent;
	position:absolute;
	left:0;
	top:245px;
}