html,body,h1,h2,h3,p,ul,li {
	margin:0;
	padding:0;
}

img {
	display:block;
}

body {
	background-color:#808080;
}

.paper {
	width:980px;
	height:1386px;
	margin:100px auto;
	border:1px solid #333;
	background-color:#FFF;
}

.topBlock {
	width:892px;
	height:61px;
	border-bottom:2px solid #938E8C;
	margin:0 auto;
	position:relative;
}

.topBockLeft {
	width:110px;
	height:61px;
	background-color:#D45D5C;
	position:absolute;
	left:0;
	top:0;
}

.topBlock .topBockLeft p {
	font-size:12px;
	font-family:"黑体";
	color:#FFF;
	position:absolute;
	left:4px;
	bottom:4px;
}

.topBlock p {
	font-size:12px;
	font-family:"黑体";
	color:#D45D5C;
	position:absolute;
	right:0;
	bottom:4px;
}

.section1 {
	width:892px;
	margin:0 auto;
	margin-top:34px;
	position:relative;
}

.sec1Left {
	width:641px;
	height:301px;
	position:absolute;
	left:0;
	top:0;
}

.sec1LeftImg {
	width:100%;
	height:100%;
}

.sec1LeftImg img {
	width:100%;
	height:100%;
}

.sec1LeftImgLeft {
	width:191px;
	height:301px;
	background-color:rgba(66,140,89,0.50);
	position:absolute;
	left:0;
	top:0;
}

.sec1LeftImgRight {
	width:191px;
	height:301px;
	background-color:rgba(204,118,128,0.50);
	position:absolute;
	right:0;
	top:0;
}

.sec1Right {
	width:203px;
	height:301px;
	box-sizing:border-box;
	border-top:2px solid #CC8091;
	padding-top:10px;
	position:absolute;
	right:0;
	top:0;
}

.sec1Right h1 {
	font-size:24px;
	color:#000;
	font-family: "Microsoft YaHei";
	text-decoration:underline;
	line-height:30px;
	font-variant:small-caps;
	font-weight:normal;
}

.sec1Right h2 {
	font-size:12px;
	color:#676767;
	font-family: "楷体";
	line-height:10px;
	font-weight:normal;
	font-style:italic;
}

.sec1Right p {
	font-size:116px;
	color:#75B86B;
	font-family: "Microsoft YaHei";
	font-style:italic;
	margin-left:-24px;
	font-weight:bold;
}

.sec1RightBottom {
	width:100%;
	position:absolute;
	bottom:0;
}

.sec1RightBottomLeft {
	position:absolute;
	bottom:-12px;
	left:0;
}

.sec1RightBottomLeft p {
	margin:0;
	font-size:55px;
	color:#CC8091;
	font-family: "Microsoft YaHei";
	font-style:normal;
	font-weight:normal;
}

.sec1RightBottomRight {
	position:absolute;
	bottom:0;
	right:5px;
}

.sec1RightBottomRight p:first-child {
	margin:0;
	font-size:21px;
	color:#CC8091;
	font-family: "Microsoft YaHei";
	font-style:normal;
	font-weight:normal;
}

.sec1RightBottomRight p:last-child {
	margin:0;
	font-size:12px;
	line-height:14px;
	color:#231815;
	font-family: "Microsoft YaHei";
	font-style:normal;
	font-weight:normal;
}